params {
    fastqc_bin = "fastqc"
    cutadapt_bin = "cutadapt"
    bwa_bin = "bwa"
    samtools_bin = "samtools"
    bcftools_bin = "bcftools"
    
    fastq_dir = "${projectDir}/data"
    reference = "${projectDir}/reference_genome/chr22.fa"
    output = "${projectDir}/results"
}

process {
    cpus = 2
    memory = '4 GB'
    time = '2h'
}

report {
    enabled = true
    file = "${params.output}/pipeline_report.html"
}

timeline {
    enabled = true
    file = "${params.output}/timeline.html"
}