params {
    fastqc_bin = "fastqc"
    cutadapt_bin = "cutadapt"
    fastq_dir = "${projectDir}/data"
    output = "${projectDir}/results"
}

process {
    cpus = 2
    memory = '4 GB'
    time = '2h'
}

report {
    enabled = true
    file = "${params.output}/pipeline_report.html"
}

timeline {
    enabled = true
    file = "${params.output}/timeline.html"
}