params {
    // Tool binaries
    fastqc_bin = "/home/aishwarya/miniconda3/envs/bnf/bin/fastqc"
    cutadapt_bin = "/home/aishwarya/miniconda3/envs/bnf/bin/cutadapt"
    bwa_bin = "/home/aishwarya/miniconda3/envs/bnf/bin/bwa"
    samtools_bin = "/home/aishwarya/miniconda3/envs/bnf/bin/samtools"
    bcftools_bin = "/home/aishwarya/miniconda3/envs/bnf/bin/bcftools"
    
    // Input/Output paths
    fastq_dir = "$projectDir/data"
    reference = "$projectDir/reference_genome/chr22.fa"
    output = "$projectDir/results"
    
    // Cutadapt parameters
    adapter_forward = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"
    adapter_reverse = "AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"
    min_quality = 20
    min_length = 20
    
    // Variant filtering parameters
    min_variant_quality = 20
    min_depth = 10
}

process {
    cpus = 2
    memory = '4 GB'
    time = '2h'
}

report {
    enabled = true
    file = "${params.output}/pipeline_report.html"
}

timeline {
    enabled = true
    file = "${params.output}/timeline.html"
}